<div class="wrap">
  <a (click)="comeBack()">← &nbsp; back</a>
<div class="h1">
  <h1>{{title}}</h1>
  </div>  
<article>
<img src="{{poster}}" alt="">
<div class="desc">

  <div class="sp"> <span class="subtitle">Year:</span><p> {{year}}</p> </div>
  <div class="sp"> <span class="subtitle">Country:</span><p> {{country}}</p> </div>
  <div class="sp"> <span class="subtitle">Genre:</span><p> {{genre}}</p> </div>
  <div class="sp" *ngIf="check(director)"> <span class="subtitle">Director:</span><p> {{director}}</p> </div>
  <!--<div class="sp"> <span class="subtitle">Writer:</span><p> {{writer}}</p> </div>-->
  <div class="sp" *ngIf="check(actors)"> <span class="subtitle">Actors:</span><p> {{actors}}</p> </div>
  <div class="sp" *ngIf="check(awards)"> <span class="subtitle">Awards:</span><p> {{awards}}</p> </div>
  <div class="sp"> <span class="subtitle">Plot:</span><p> {{plot}}</p> </div>
  <div *ngIf="check(BoxOffice)" class="sp"> <span class="subtitle">BoxOffice:</span><p> {{BoxOffice}}</p> </div>

<div class="rate-wr"><span class="subtitle2">IMDb</span> <span class="rate">{{imdbRating}}</span></div>
<div class="rate-wr" *ngIf="check(Metascore)"><span class="subtitle2">Metascore</span> <span class="rate">{{Metascore}}</span></div>


</div>
</article>

</div>