.wr {

  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;

}

.cont {
  margin-top: 80px;
  width: 400px;
  margin-bottom: 80px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px -3px rgba(0,0,0,0.2);
}


.submit {
  color: #fff;
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 15px 0;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: #19191C;
  text-align: center;
  outline: none;
  outline-offset: 0;
  border: 0;
}

.submit:disabled {
  background-color: rgba(0,0,0,0.2);
}

.submit:enabled:hover {
  opacity: .9;
}

.submit:disabled:hover {
 cursor: default;
}


.contact-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.contact-full-width {
  width: 100%;
}

h1  {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0,0,0,0.8);
  margin-left: 10%;
  margin-top: 40px;
}


.mat-input-underline{
  border-bottom: 1px solid #EA31EC!important;
}


@media screen and (max-width: 900px) {

.wr {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 40px;

}







}