
<div class="wr">
  <div class="cont">

    <h1>Send us your message</h1>

    <form class="contact-form">
      <mat-form-field class="contact-full-width" color="accent">
        <input required matInput [formControl]='nameFormControl' [errorStateMatcher]="matcher" placeholder="Your name">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="contact-full-width" color="accent">
        <textarea required [formControl]='areaFormControl' matInput placeholder="Leave a comment"></textarea>
        <mat-error *ngIf="areaFormControl.hasError('required')">
          Comment is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <input [disabled]='areaFormControl.invalid || nameFormControl.invalid' routerLink='/contacted'  class='submit' type="submit" value="Send" >

    </form>

  </div>
</div>

