<div class="wr">

<nav>
  <ul>
    <li><a [ngClass]="{underline:line}" (click)="resetLine(); line = true" class="link home" routerLink="/home">Home</a></li>
    <li><a [ngClass]="{underline:line2}" (click)="resetLine(); line2 = true" class="link about" routerLink="/about">About</a></li>
    <li><a [ngClass]="{underline:line3}" (click)="resetLine(); line3 = true" class="link contacts" routerLink="/contacts">Contact</a></li>
    <li (click)="resetLine()" class="get"><a routerLink="/tt0477348"><div class="logo"></div><div>What to Watch</div></a></li>
    <li (click)="resetLine()" class="get-m"><a routerLink="/tt0477348"><div class="logo"></div><div></div></a></li>
  </ul>
  <!-- <img src="assets/img/logo.svg" alt=""> -->

</nav>

<main>
  <router-outlet></router-outlet>
</main>

</div>
<!--<footer>-->
  <!--<p class="copy">&copy; all rights reserved</p>-->
<!--</footer>-->
