<div class="wr">

<nav>
  <ul>
    <li><a class="link home" routerLink="/home" routerLinkActive='underline'>Home</a></li>
    <li><a class="link about" routerLink="/about" routerLinkActive='underline'>About</a></li>
    <li><a class="link contacts" routerLink="/contacts" routerLinkActive='underline'>Contact</a></li>
    <li class="get"><a routerLink="/tt0477348"><div class="logo"></div><div>What to Watch</div></a></li>
    <li class="get-m"><a routerLink="/tt0477348"><div class="logo"></div><div></div></a></li>
  </ul>


</nav>

<main>
  <router-outlet></router-outlet>
</main>

</div>

