:host:not(:first-child) {
  /*margin-left: 10px;*/
}

/*:host {*/
  /*width: 19%;*/
  /*margin-bottom: 20px;*/
/*}*/


article {
  background-color: #202024;
  display: flex;
  position: relative;
  min-width: 260px;
  box-shadow: 0 3px 6px -3px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: all .2s ease-out;
}

article:hover {
  box-shadow: 0 10px 30px -5px rgba(0,0,0,0.5);
  background-color: #242529;


}



div.i {
  width: 30%;
  display: inline-block;
  padding: 22% 10%;
  margin: 5% 5%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

div.h{
  width: 60%;
  padding: 8% 5%;
  padding-left: 0;
  height: 0;
}

h4 {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 2%;
}

p {

  font-size: 13px;
  font-weight: 200;
  color: #bebbbf;
  margin-top: 8px;

}

.more {
  color: #747480;
  position: absolute;
  font-size: 11px;
  font-weight: 400;
  bottom: 8%;
  right: 10%;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0;
  transition: all .2s ease-out;


}

article:hover .more {
  opacity: 1;
  right: 5%;
  font-size: 14px;
  /*background-color: #fae6fb;*/
}
